#container {
	width: 808px;
	margin-left: 20px;
	margin-right: 20px;
}

#content {
	width: 95%;
}

.post code {
	font-size: 0.7em;
	font-family: monospace;
}

.highlight pre {
	font-size: 0.7em;
	font-family: monospace;
}

#header {
	font-size: 1.4em;
}

#footer {
	font-size: 1.4em;
}

#footer img {
	width: 110%;
	height: 110%;
}

#footer .copyright {
	font-size: 1.0em;
}