<div id="leftcol">
	<p>Andrew Carter</span> | <a href="{{ site.url }}">ascarter.net</a></p>
</div>
<div id="rightcol">
	<p>
		<a href="atom.xml"><img src="/images/feed-icon-14x14.png" alt="Subscribe to RSS Feed" title="ascarter.net/atom.xml" /></a>
		<a href="http://ascarter.tumbler.com"><img src="/images/tumblr.png" alt="ascarter.tumblr.com" title="ascarter.tumblr.com" /></a>
		<a href="http://www.twitter.com/ascarter"><img src="/images/twitter.png" alt="@ascarter" title="@ascarter" /></a>
		<a href="http://github.com/ascarter/"><img src="/images/github.png" alt="github.com/ascarter" title="github.com/ascarter" /></a>
		<a href="http://www.linkedin.com/in/andrewca"><img src="/images/linkedin.png" alt="linkedin.com/in/andrewca" title="linkedin.com/in/andrewca" /></a>
		<a href="http://flickr.com/photos/ascarter/"><img src="/images/flickr.png" alt="flickr.com/photos/ascarter" title="flickr.com/photos/ascarter" /></a>
	</p>
</div>
<div id="copyright">
	<p>Copyright &copy; 2005-2010 <a href="{{ site.url }}">Andrew Carter</a></p>
</div>
