<div id="leftcol">
	<span class="contact">Andrew Carter</span><br />
	<span class="contact"><a href="{{ site.url }}">ascarter.net</a></span><br />
</div>
<div id="rightcol">
	<span class="contact"><a href="atom.xml"><img src="images/feed-icon-14x14.png" alt="Subscribe to RSS Feed" /></a></span><br />
	<span class="contact"><a href="http://www.twitter.com/ascarter"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png" alt="Follow ascarter on Twitter"/></a></span><br />
</div>
<div id="centercol">
	<span class="contact"><a href="http://github.com/ascarter/">github.com/ascarter</a></span><br />
	<span class="contact"><a href="http://twitter.com/ascarter/">twitter.com/ascarter</a></span><br />
	<span class="contact"><a href="http://www.linkedin.com/in/andrewca">www.linkedin.com/in/andrewca</a></span><br />
	<span class="contact"><a href="http://flickr.com/photos/ascarter/">flickr.com/photos/ascarter</a></span><br />
</div>
<div id="copyright">
	<p>Copyright &copy; 2005-2010 <a href="{{ site.url }}">Andrew Carter</a></p>
</div>
