<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>coding in the rain &middot; {{ page.title }}</title>
	<meta name="author" content="Andrew Carter">
	<link href="atom.xml" rel="alternate" title="coding in the rain" type="application/atom+xml" />
	<link rel="stylesheet" href="css/site.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="css/syntax.css" type="text/css" />
	<meta name="viewport" content="width=850" />
	<link rel="stylesheet" media="screen and (max-device-width: 480px)" href="css/iphone.css" type="text/css" />
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{ site.google_analytics_code }}']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
	  })();
	</script>
</head>

<body>
<div id="container">
	<div id="header">
		<a class="site" href="/">coding in the rain</a>
		<a href="index.html">home</a>
		<a href="about.html">about</a>
		<a href="code.html">code</a>
	</div>
	<div id="page">
		<div id="content">
		{{ content }}
		</div>
		<div id="sidebar">
		{{% include sidebar.html %}}
		</div>
	</div>
	<div id="footer">
		<div id="direct" class="contactlist">
			<p>
			<span class="contact">Andrew Carter</span><br />
			<span class="contact"><a href="{{ site.url }}/">ascarter.net</a></span>
			</p>
		</div>
		<div id="external" class="contactlist">
			<p>
			<span class="contact"><a href="http://github.com/ascarter/">github.com/ascarter</a></span><br />
			<span class="contact"><a href="http://twitter.com/ascarter/">twitter.com/ascarter</a></span><br />
			<span class="contact"><a href="http://www.linkedin.com/in/andrewca">www.linkedin.com/in/andrewca</a></span><br />
			<span class="contact"><a href="http://flickr.com/photos/ascarter/">flickr.com/photos/ascarter</a></span>
			</p>
		</div>
		<div id="feed" class="rss">
			<a href="atom.xml">
			<img src="images/feed-icon-14x14.png" alt="Subscribe to RSS Feed" />
			</a><br />
			<a href="http://www.twitter.com/ascarter"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png" alt="Follow ascarter on Twitter"/></a>
		</div>
		<div id="copyright" class="copyright">
			<p>Copyright &copy;2005-2010 <a href="{{ site.url }}">Andrew Carter</a></p>
		</div>
	</div>
</div>
</body>
</html>