<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{ page.title }} &middot; coding in the rain</title>
	<meta name="author" content="Andrew Carter">
	<link href="/atom.xml" rel="alternate" title="coding in the rain" type="application/atom+xml" />
	<link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
	<meta name="viewport" content="width=850" />
	<link rel="stylesheet" media="screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" />
</head>

<body>
<div id="container">
	<div id="header">
		<div class="summary">
			<!-- <p>This is <a href="http://ascarter.net">coding in the rain</a>, a weblog by my company about software development, technology, and the web. Established 2009 in Seattle, WA. Please see <a href="/services.html">services</a> to work with us.</p> -->
		</div>
		<a class="site" href="/">coding in the rain</a>
		<a href="/">home</a>
		<a href="/about.html">about</a>
		<a href="/code.html">code</a>		
	</div>
	<div id="page">
		<div id="content">
		{{ content }}
		</div>
		<div id="sidebar">
		{{% include sidebar.html %}}
		</div>
	</div>
	<div id="footer">
		<div id="direct" class="contact">
			<p>
			Andrew Carter<br />
			<a href="http://ascarter.net/">ascarter.net</a><br />
			<a href="mailto:ascarter@gmail.com?subject=feedback">email</a>
			</p>
		</div>
		<div id="external" class="contact">
			<p>
			<a href="http://github.com/ascarter/">github.com/ascarter</a><br />
			<a href="http://twitter.com/ascarter/">twitter.com/ascarter</a><br />
			<a href="http://flickr.com/photos/ascarter/">flickr.com/photos/ascarter</a><br />
			<a href="http://delicious.com/ascarter/">delicious.com/ascarter</a><br />
			</p>
		</div>
		<div id="feed" class="rss">
			<a href="/atom.xml">
			<img src="/images/feed-icon-14x14.png" alt="Subscribe to RSS Feed" />
			</a>
		</div>
		<div id="copyright" class="copyright">
			<p>Copyright &copy;2009 <a href="http://ascarter.net">Andrew Carter</a></p>
		</div>
	</div>
</div>	
</body>
</html>